if SHIELD_REEL_RIGHT

config ZMK_KEYBOARD_NAME
    default "ReeL"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_POINTING
    default y

config SPI
    default y

endif

if SHIELD_REEL_LEFT || SHIELD_REEL_RIGHT

config ZMK_SPLIT
    default y

endif
